[Desktop Entry]
Version=1.0
Type=Application
Name=WarsmashModEngine
GenericName=Emulator
Comment=An emulation engine to improve Warcraft III modding 
Comment[de]=Eine emulierte Spiele-Engine um das Modding von Warcraft-III zu verbessern
Exec=warsmash %f
Icon=warsmash
Terminal=false
StartupNotify=false
Categories=Game;